body {
  margin: 0;
  font-family: 'Asap','Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fff;
  margin: 0px;
  padding:0px;
  color: #010026;
}
::-moz-selection { /* Code for Firefox */
  color: #E7452C;

  /* background: #FFC312; */
}

::selection {
  color: #E7452C;
  /* background: #FFC312; */
}
